#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 100%;
}

#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    max-width: 100%;
}

#canvas {
    display: none;
}

#effect-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.output {
    display: block;
}

#startbutton, #uploadbutton {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
}

.contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
}

/* The heart of the matter */
.effect-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.effect-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

/* Decorations */
.col-xs-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.col-xs-4:nth-child(3n+1) { background: #c69; }
.col-xs-4:nth-child(3n+2) { background: #9c6; }
.col-xs-4:nth-child(3n+3) { background: #69c; }